.cart {
    justify-self: end;
    position: relative;
    // display: flex;

    &__count {
        display: inline-block;
        position: absolute;
        top: 3px;
        right: -6px;
        background-color: $color-accent-main;

        height: 25px;
        padding: 0 5px;
        border-radius: 100%;
        line-height: 25px;

        font-weight: 700;
    }
}