.section {

    &__products {
        padding: 50px 0;
        background-color: #F7F7F7;
    }
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;

    // .products__title

    &__title {
        text-align: center;
        margin-bottom: 32px;
    }

    // .products__tabs

    &__tabs {
        display: flex;
        flex-wrap: wrap;
        background-color: #EEEEEE;
        padding: 6px;
        border-radius: 44px;
        margin-bottom: 80px;

        @include extra-small () {
            justify-content: center;
            border-radius: 22px;
            max-width: 200px;
        }
    }

    // .products__tabs-item

    &__tabs-item {
        padding: 7px 20px;
        border-radius: 32px;
        cursor: pointer;

        transition: background-color 0.3s ease;

        &:hover {

            .products__tabs-link {
                font-weight: 500;
            }
        }

        &_active {
            background-color: #fff;

            .products__tabs-link {
                font-weight: 500;
            }
        }
    }

    // .products__tabs-link

    &__tabs-link {
        font-weight: 400;
        font-size: 18px;
        line-height: 185%;
        color: $color-text-dark;
        opacity: 0.8;
    }

    &__more-link {
        margin-top: 60px;
        font-size: 18px;
    }
}

.products-slider {
    position: relative;
    width: 100%;
    font-family: $font-card;
    // .products-slider__card

    &__card {
        width: 268px;
    }

    // .products-slider__photo

    &__photo {
        height: 240px;
        background-color: #FAFAFA;
        border-radius: 20px 20px 0 0;
        margin-top: 50px;
        text-align: center;

        svg {
            position: absolute;
            bottom: 15px;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }

    &__img {
        width: 218px;
        margin-top: -50px;
    }

    // .products-slider__info

    &__info {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 0 0 20px 20px;
        padding: 14px 21px 27px;

        &-subtitle {
            font-weight: 400;
            font-size: 16px;
            color: $color-text-muted;
        }

        // .products-slider__info-title

        &-title {
            font-weight: 600;
            font-size: 21px;
            text-transform: capitalize;
            color: $color-text-slider;

            margin: 6px 0 6px 0;
        }

        // .products-slider__info-stars

        &-stars {
            display: flex;
            align-items: center;

            column-gap: 2px;
        }

        // .products-slider__info-price

        &-price {
            display: flex;
            align-items: center;
            justify-content: space-between;

            margin-top: 37px;

            span {
                display: flex;
                align-items: flex-start;
                column-gap: 3px;
                font-weight: 600;
                font-size: 21px;
                color: $color-text-slider;

                &::before {
                    content: attr(data-value);
                    font-size: 15px;
                }
            }
        }

        // .products-slider__info-btn

        &-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 48px;
            height: 48px;

            background: $color-text-slider;

            img {
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 50%;
        width: 50px;
        height: 50px;

        box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.06);
        background: #fff;

        &_prev {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-50%, 0);
            z-index: 1;

            transition: left 0.3s ease;

            &:hover {
                left: -10px;
            }
        }

        &_next {
            z-index: 1;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(50%, 0);

            transition: right 0.3s ease;

            &:hover {
                right: -10px;
            }
        }
    }
}