.info-hint {
    background-image: url(../img/header/hint.svg);
    width: 112px;
    height: 56px;

    position: absolute;
    top: -26px;
    left: 50%;
    transform: translate(-50%, -100%);

    display: flex;
    justify-content: center;
    padding-top: 12px;
    gap: 8px;

    &_wrapper {
        display: flex;
        padding-top: 12px;
        gap: 8px;

    }

    &__btn {
        width: 24px;
        height: 24px;

        border-radius: 50%;
        border: 2px solid #fff;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);

        &_orange {
            background-color: #e58411;
        }

        &_turquoise {
            background-color: #00d6c9;
        }

        &_gray {
            background-color: #7c7c7c;
        }
    }

    .selected {
        background-image: url(../img/header/checkbox.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
}

