.mobile-nav {
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    background-color: $color-mobile-bg;
    color: $color-text-white;
    padding: 50px;
    width: 300px;
    z-index: 2;

    flex-direction: column;
    row-gap: 30px;
    transition: all 0.3s ease;
    transition-behavior: allow-discrete;
    opacity: 0;

    @media (min-width: 992px) {
        display: none !important;
    }


    &_open {
        display: flex;
        right: 0;
        opacity: 1;

        @starting-style {
            opacity: 0;
        }
    }

    &__cart {
        display: flex;
        align-items: center;
        column-gap: 20px;
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 20px;

        border-bottom: 1px solid rgba(white, 0.3);

    }

    // .mobile-nav__list

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    // .mobile-nav__list-link

    &__list-link {
        font-weight: 500;
        font-size: 18px;
    }

    // .mobile-nav__submenu

    &__submenu {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        padding: 15px 0 0 20px;
    }

    // .mobile-nav__submenu-link

    &__submenu-link {
        font-weight: 400;
        font-size: 16px;
    }
}